/*------------------------------------*\
    #PAGE-WRAP
\*------------------------------------*/

/**
 * A main max-width page-wrapper.
 */
$inuit-page-wrap-padding:               $inuit-base-spacing-unit !default;
$inuit-page-wrap-padding--responsive:   $inuit-base-spacing-unit !default;
$inuit-page-wrap-width:                 1280px !default;

$inuit-enable-page-wrap--responsive:    false !default;
$inuit-page-wrap-collapse-at:           720px !default;

.page-wrap {
    max-width: $inuit-page-wrap-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $inuit-page-wrap-padding;
    padding-right: $inuit-page-wrap-padding;

    @if ($inuit-enable-page-wrap--responsive == true){

        /**
         * Responsive page-wrap, decreasing its padding
         * at the given breakpoint.
         */
        @media screen and (max-width: $inuit-page-wrap-collapse-at){
            padding-left: $inuit-page-wrap-padding--responsive;
            padding-right: $inuit-page-wrap-padding--responsive;
        };
    }
}
